<div class="container color-dark">
  <div class="col">
    <p>  Ratouter une activitée </p>
  </div>
  <div class="col">
      <p> Ma  liste d'éléments ({{ nbItems }})</p>
  </div>
</div>


<div class="container color-light" [@this.activiteService.objectifs]="this.activiteService.objectifs.length">
    <div class="col">      
      <form>
      <input type="text" class="txt" name="item" placeholder="..." [(ngModel)]="objectifText">
      <br>
      <button class="btn btn-primary" type="submit" (click)="ajoutItem()">Ajouter</button>
      </form>
  </div>
  <div class="col">  
      <textarea type="text" class="form-control" rows="3" name="item" placeholder="Entrer la description ici" [(ngModel)]="descriptionActivite"></textarea>

  </div>
</div>
<div class="container color-dark list" [@this.activiteService.objectifs]="this.activiteService.objectifs.length">
      <div class="row">

     <app-activite [maDescription]="'test ma description'" [monTitre]="o" [monNumero]="i" *ngFor="let o of this.activiteService.objectifs; let i = index " (click)="this.myRouter.navigate(['consultAct/'+i]);" class="card border-primary mb-3" style="max-width: 18rem;" ></app-activite>
  </div>
             
      
      
      
</div>